:root {
    --navigation-height: 100vh;
}

@media screen and (max-width:600px) {
    #trigger {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    #navigation-list {
        height: 0;
        opacity: 0;
        background-color: #0c1425e0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}

@keyframes up {
    from {
        height: var(--navigation-height);
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes down {

    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: var(--navigation-height);
        opacity: 1;
    }
}